### Godot ###
# Godot-specific
.import/
.godot/
export.cfg
export_presets.cfg
*.translation
*.import

# the godot build path
dist/

# Mono / C# Godot
.mono/
data_*/

### C# / .NET ###
# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Ll]og/

# Visual Studio user files
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Others
*.log
*.cache
*.tmp
*.swp
*.bak
*.db
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db
desktop.ini
